# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\新桌面\A实训\testGit\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
